<!DOCTYPE html>
<html>

<head>

    <title>Smart Building Toolkit</title>
    <meta charset="UTF-8">
    <link rel="icon" href="https://example.com/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./index.js" defer></script>

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

</head>

<body class="n0-light-grey">

    <div id="smartBldgDesign">

        <!-- !PAGE CONTENT! -->
        <div class="n0-main">

            <div class="n0-container n0-padding-16 n0-teal">
                <h5>Asset Type</h5>
                <hr>
                <div class="n0-row-padding-small">
                    <div class="n0-third">
                        <select v-model="selectP" v-on:change="getAssetEndpoint()" class="n0-select" name="option">
                        <option value="" disabled selected>Select Asset Type</option>
                        <option v-for="item in assetsListA">{{ item }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="n0-container n0-padding-16 n0-teal">
                <p>Asset naming schema : {{ assetReference }}</p>
                <p>Timeseries (Data updated frequently i.e. every 15 minutes) - Endpoint : {{ endPointStringAT }}</p>
                <p>Semi-Static (Data updated infrequently or not at all) - Endpoint : {{ endPointStringAA }}</p>
            </div>
            <hr>

            <div class="n0-container n0-dark-grey n0-padding">
                <h3>Configuration Detail</h3>
                    <div class="n0-row-padding-small">
                        <div class="n0-half">
                            <p>Asset Timeseries Endpoints - {{ Object.keys(selectedEndpointT).length }}</p>
                            <pre class="n0-code n0-small" v-html="syntaxHighlight(selectedEndpointT)"></pre>
                        </div>
                        <div class="n0-half">
                            <p>Asset Semi-Static Endpoints - {{ Object.keys(selectedEndpointA).length }}</p>
                            <pre class="n0-code n0-small" v-html="syntaxHighlight(selectedEndpointA)"></pre>
                        </div>
                    </div>
            </div>
            <hr>

            <a href="./00a-platform-index.html" class="n0-button n0-black n0-round-large n0-hover-indigo">Docs Menu</a>

    <!-- End page content -->
    </div>

</body>
</html>
