<!DOCTYPE html>
<html>

<head>

    <title>Smart Building Toolkit</title>
    <meta charset="UTF-8">
    <link rel="icon" href="https://example.com/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./index.js" defer></script>

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

</head>

<body class="n0-light-grey">

    <div id="smartBldgDesign">

        <!-- !PAGE CONTENT! -->
        <div class="n0-main">

            <div class="n0-container n0-padding-16 n0-gray">
                <h3>MEP devices - Naming schema checker</h3>
                <hr>
                <div class="n0-row-padding-small">
                    <div class="n0-half n0-padding">
                        <select v-model="selectA" v-on:change="setSystem()" class="n0-select" name="option">
                        <option value="" disabled selected>Select System</option>
                        <option v-for="item in listA">{{ item }}</option>
                        </select>
                    </div>

                    <div class="n0-half n0-padding">
                        <select v-model="selectB" v-on:change="setItem()" class="n0-select" name="option">
                        <option value="" disabled selected>Select Item</option>
                        <option v-for="item in listB">{{ item }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="n0-container n0-padding-16 n0-gray">
                <p>Device naming schema : <strong>{{ equipmentReference }}</strong></p>
                <hr>
                <a href="./iframe-index.html" class="n0-button n0-black n0-round-large n0-hover-indigo">
                  Docs Menu
                </a>
            </div>

    <!-- End page content -->
    </div>

</body>
</html>

</html>
